.container{
    width: 350px;
    height: 45vh;
    margin: 150px auto;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    display: flex;
}
option{
    margin-top: 20px;
}